xml-resources/web-service-references/WsClient/wsdl/localhost_8080/DatingSite/.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="DatingSiteForClientService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/DatingSite?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="requestMatchingProfiles">
<part name="parameters" element="tns:requestMatchingProfiles"></part>
</message>
<message name="requestMatchingProfilesResponse">
<part name="parameters" element="tns:requestMatchingProfilesResponse"></part>
</message>
<message name="DatingSiteWebServiceException">
<part name="fault" element="tns:DatingSiteFault"></part>
</message>
<message name="getDatingSiteName">
<part name="parameters" element="tns:getDatingSiteName"></part>
</message>
<message name="getDatingSiteNameResponse">
<part name="parameters" element="tns:getDatingSiteNameResponse"></part>
</message>
<message name="getMessagesSent">
<part name="parameters" element="tns:getMessagesSent"></part>
</message>
<message name="getMessagesSentResponse">
<part name="parameters" element="tns:getMessagesSentResponse"></part>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"></part>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"></part>
</message>
<message name="setProfile">
<part name="parameters" element="tns:setProfile"></part>
</message>
<message name="setProfileResponse">
<part name="parameters" element="tns:setProfileResponse"></part>
</message>
<message name="getPreference">
<part name="parameters" element="tns:getPreference"></part>
</message>
<message name="getPreferenceResponse">
<part name="parameters" element="tns:getPreferenceResponse"></part>
</message>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<message name="getProfile">
<part name="parameters" element="tns:getProfile"></part>
</message>
<message name="getProfileResponse">
<part name="parameters" element="tns:getProfileResponse"></part>
</message>
<message name="setPreference">
<part name="parameters" element="tns:setPreference"></part>
</message>
<message name="setPreferenceResponse">
<part name="parameters" element="tns:setPreferenceResponse"></part>
</message>
<message name="sendMessage">
<part name="parameters" element="tns:sendMessage"></part>
</message>
<message name="sendMessageResponse">
<part name="parameters" element="tns:sendMessageResponse"></part>
</message>
<message name="registerParticipant">
<part name="parameters" element="tns:registerParticipant"></part>
</message>
<message name="registerParticipantResponse">
<part name="parameters" element="tns:registerParticipantResponse"></part>
</message>
<message name="getMessagesReceived">
<part name="parameters" element="tns:getMessagesReceived"></part>
</message>
<message name="getMessagesReceivedResponse">
<part name="parameters" element="tns:getMessagesReceivedResponse"></part>
</message>
<message name="getParticipantInfo">
<part name="parameters" element="tns:getParticipantInfo"></part>
</message>
<message name="getParticipantInfoResponse">
<part name="parameters" element="tns:getParticipantInfoResponse"></part>
</message>
<message name="unregisterParticipant">
<part name="parameters" element="tns:unregisterParticipant"></part>
</message>
<message name="unregisterParticipantResponse">
<part name="parameters" element="tns:unregisterParticipantResponse"></part>
</message>
<portType name="IDatingSiteForClient">
<operation name="requestMatchingProfiles">
<input wsam:Action="http://webservice/IDatingSiteForClient/requestMatchingProfilesRequest" message="tns:requestMatchingProfiles"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/requestMatchingProfilesResponse" message="tns:requestMatchingProfilesResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/requestMatchingProfiles/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="getDatingSiteName">
<input wsam:Action="http://webservice/IDatingSiteForClient/getDatingSiteNameRequest" message="tns:getDatingSiteName"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/getDatingSiteNameResponse" message="tns:getDatingSiteNameResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/getDatingSiteName/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="getMessagesSent">
<input wsam:Action="http://webservice/IDatingSiteForClient/getMessagesSentRequest" message="tns:getMessagesSent"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/getMessagesSentResponse" message="tns:getMessagesSentResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/getMessagesSent/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="logout">
<input wsam:Action="http://webservice/IDatingSiteForClient/logoutRequest" message="tns:logout"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/logoutResponse" message="tns:logoutResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/logout/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="setProfile">
<input wsam:Action="http://webservice/IDatingSiteForClient/setProfileRequest" message="tns:setProfile"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/setProfileResponse" message="tns:setProfileResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/setProfile/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="getPreference">
<input wsam:Action="http://webservice/IDatingSiteForClient/getPreferenceRequest" message="tns:getPreference"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/getPreferenceResponse" message="tns:getPreferenceResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/getPreference/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="login">
<input wsam:Action="http://webservice/IDatingSiteForClient/loginRequest" message="tns:login"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/loginResponse" message="tns:loginResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/login/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="getProfile">
<input wsam:Action="http://webservice/IDatingSiteForClient/getProfileRequest" message="tns:getProfile"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/getProfileResponse" message="tns:getProfileResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/getProfile/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="setPreference">
<input wsam:Action="http://webservice/IDatingSiteForClient/setPreferenceRequest" message="tns:setPreference"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/setPreferenceResponse" message="tns:setPreferenceResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/setPreference/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="sendMessage">
<input wsam:Action="http://webservice/IDatingSiteForClient/sendMessageRequest" message="tns:sendMessage"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/sendMessageResponse" message="tns:sendMessageResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/sendMessage/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="registerParticipant">
<input wsam:Action="http://webservice/IDatingSiteForClient/registerParticipantRequest" message="tns:registerParticipant"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/registerParticipantResponse" message="tns:registerParticipantResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/registerParticipant/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="getMessagesReceived">
<input wsam:Action="http://webservice/IDatingSiteForClient/getMessagesReceivedRequest" message="tns:getMessagesReceived"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/getMessagesReceivedResponse" message="tns:getMessagesReceivedResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/getMessagesReceived/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="getParticipantInfo">
<input wsam:Action="http://webservice/IDatingSiteForClient/getParticipantInfoRequest" message="tns:getParticipantInfo"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/getParticipantInfoResponse" message="tns:getParticipantInfoResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/getParticipantInfo/Fault/DatingSiteWebServiceException"></fault>
</operation>
<operation name="unregisterParticipant">
<input wsam:Action="http://webservice/IDatingSiteForClient/unregisterParticipantRequest" message="tns:unregisterParticipant"></input>
<output wsam:Action="http://webservice/IDatingSiteForClient/unregisterParticipantResponse" message="tns:unregisterParticipantResponse"></output>
<fault message="tns:DatingSiteWebServiceException" name="DatingSiteWebServiceException" wsam:Action="http://webservice/IDatingSiteForClient/unregisterParticipant/Fault/DatingSiteWebServiceException"></fault>
</operation>
</portType>
<binding name="DatingSiteForClientPortBinding" type="tns:IDatingSiteForClient">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="requestMatchingProfiles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getDatingSiteName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getMessagesSent">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="logout">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setProfile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getPreference">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getProfile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setPreference">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="sendMessage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="registerParticipant">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getMessagesReceived">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getParticipantInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="unregisterParticipant">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DatingSiteWebServiceException">
<soap:fault name="DatingSiteWebServiceException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="DatingSiteForClientService">
<port name="DatingSiteForClientPort" binding="tns:DatingSiteForClientPortBinding">
<soap:address location="http://localhost:8080/DatingSite"></soap:address>
</port>
</service>
</definitions>